
@import url('./blocks/header/header.css');

.page {
    background-color: #000;
    max-width: 1440px;
    padding-left: 128px;
    padding-right: 128px;
}

a {
    text-decoration: none;
    color: #fff;
}